.main{
  height: 100vh;
  width: 90vw;
  margin: auto;
}

.main .panel{
  display: grid;
  grid-template-columns: 60vw 30vw;
  grid-template-rows: 10vh 75vh 15vh;
  
}

.main .panel .titulo{
  grid-column: 1 / span 2;
  grid-row: 1;
  text-align: center;
  z-index: 0;
  font-size: 2em;
  font-family: 'Titillium Web', sans-serif;
  font-style: italic;
  font-weight: 600;
  color: #c7fba5;
  text-transform: uppercase;
  text-shadow: 0 5px 10px #adf182;
}

.main .panel .titulo:hover{
  scale: 1.05;
  cursor: default;
}

.main .panel .left{
  grid-column: 1;
  grid-row: 2;
  height: 70vh;
  width: 60vw;
  box-sizing: border-box;
  margin: 0 auto;
  overflow-y: scroll;
  z-index: 0;

}

.main .panel .right{
  grid-column: 2;
  grid-row: 2;
  height: 70vh;
  width: 25vw;
  margin: 0 auto;
  z-index: 0;
}

.main .bottom{
  grid-column: 1 / span 2;
  grid-row: 3;
  z-index: 0;
}